@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v118/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}
.material-icons-outlined {
  font-family: "Material Icons", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #212121;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: #ffcc00;
  background: radial-gradient(circle, rgba(255, 204, 0, 0.1) 0%, #212121 65%, #212121 100%);
  box-shadow: #ffcc00 1px 0 1px;
}

.logo-icon {
  color: #ffcc00;
  transform: rotate(15deg);
  cursor: pointer;
}

.logo-word {
  color: #ffcc00;
  border-bottom: 1px dashed #ffcc00;
  border-radius: 200px;
}

.logo-title {
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 auto;
  width: 51%;
}

footer {
  width: 100%;
  background: #212121;
  background: radial-gradient(circle, #212121 0%, #212121 0%, rgba(255, 204, 0, 0.1) 100%);
  box-shadow: #ffcc00 1px 0 1px;
}

.footer-block-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}

.footer-title {
  font-size: 30px;
}

.footer-item {
  font-size: 16px;
}

.footer-date {
  color: #ffcc00;
}

@media (min-width: 576px) {
  .logo-icon {
    font-size: 30px;
  }

  .logo-word {
    font-size: 20px;
  }

  .logo-title {
    font-size: 20px;
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-wrapper {
    padding-top: 10px;
  }

  .button-sort {
    font-size: 14px;
    margin-top: 4px;
  }

  .item-name {
    font-size: 12px;
  }

  .item-price-change {
    font-size: 12px;
  }

  .item-name {
    font-size: 16px;
  }

  .item-price-change {
    font-size: 14px;
  }

  .burger-header {
    font-size: 10px;
    padding-left: 60px;
    padding-top: 8px;
  }

  .footer-item-block {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .logo-icon {
    font-size: 50px;
  }

  .logo-word {
    font-size: 40px;
  }

  .logo-title {
    font-size: 40px;
  }

  .search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input-wrapper {
    padding-top: 10px;
  }

  .button-sort {
    font-size: 14px;
  }

  .item-name {
    font-size: 12px;
  }

  .item-price-change {
    font-size: 12px;
  }

  .item-name {
    font-size: 16px;
  }

  .item-price-change {
    font-size: 14px;
  }

  .burger-header {
    font-size: 10px;
    padding-left: 60px;
    padding-top: 8px;
  }
}
@media (min-width: 992px) {
  .logo-icon {
    font-size: 60px;
  }

  .logo-word {
    font-size: 50px;
  }

  .logo-title {
    font-size: 50px;
  }

  .search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .input-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }

  .button-sort {
    width: 70px;
    height: 30px;
    font-size: 10px;
  }

  .item-name {
    font-size: 22px;
  }

  .item-price-change {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .logo-icon {
    font-size: 80px;
  }

  .logo-word {
    font-size: 60px;
  }

  .logo-title {
    font-size: 60px;
  }

  .search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .input-wrapper {
    padding-top: 0;
  }

  .button-sort {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }

  .burger-item-wrapper {
    margin-left: 0;
  }

  .item-name {
    font-size: 22px;
  }

  .item-price-change {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .logo-icon {
    font-size: 120px;
  }

  .logo-word {
    font-size: 80px;
  }

  .logo-title {
    font-size: 80px;
  }

  .search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .input-wrapper {
    padding-top: 0;
  }

  .button-sort {
    width: 90px;
    height: 30px;
    font-size: 14px;
  }

  .burger-item-wrapper {
    margin-left: 60px;
  }

  .item-name {
    font-size: 22px;
  }

  .item-price-change {
    font-size: 20px;
  }

  .footer-item-block {
    font-size: 18px;
  }
}

/*# sourceMappingURL=layout.css.map */
